In [2]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame

In [3]:
import webbrowser
website = 'http://en.wikipedia.org/wiki/NFL_win-loss_records'

In [4]:
webbrowser.open(website)  #it directs to the website

True

In [5]:
nfl_frame = pd.read_clipboard( )   ##give space in the bracket so that the values and the column names would be in correct position

In [6]:
nfl_frame

,Rank,Team,GP,Won,Lost,Tied,Pct.,First NFL season,Division
0,1,Green Bay Packers,"1,401",782,581,38,0.572,1921,NFC North
1,2,Dallas Cowboys,947,538,403,6,0.571,1960,NFC East
2,3,New England Patriots,949,529,411,9,0.562,1960,AFC East
3,4,Chicago Bears,"1,435",783,610,42,0.560,1920,NFC North
4,5,Baltimore Ravens,417,233,183,1,0.560,1996,AFC North
5,6,Miami Dolphins,865,476,385,4,0.553,1966,AFC East
6,7,Minnesota Vikings,935,503,421,11,0.544,1961,NFC North
7,8,Kansas City Chiefs,949,507,430,12,0.541,1960,AFC West
8,9,Pittsburgh Steelers,"1,237",652,563,22,0.536,1933,AFC North
9,10,San Francisco 49ers,"1,067",561,492,14,0.532,1950,NFC West

In [7]:
nfl_frame.columns

Index(['Rank', 'Team', 'GP', 'Won', 'Lost', 'Tied', 'Pct.', 'First NFL season',
       'Division'],
      dtype='object')

In [8]:
nfl_frame.Rank

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
Name: Rank, dtype: int64

In [9]:
nfl_frame.Team

0       Green Bay Packers
1          Dallas Cowboys
2    New England Patriots
3           Chicago Bears
4        Baltimore Ravens
5          Miami Dolphins
6       Minnesota Vikings
7      Kansas City Chiefs
8     Pittsburgh Steelers
9     San Francisco 49ers
Name: Team, dtype: object

In [10]:
nfl_frame.Lost

0    581
1    403
2    411
3    610
4    183
5    385
6    421
7    430
8    563
9    492
Name: Lost, dtype: int64

In [11]:
nfl_frame.Won

0    782
1    538
2    529
3    783
4    233
5    476
6    503
7    507
8    652
9    561
Name: Won, dtype: int64

In [12]:
nfl_frame['First NFL season']      ##column name having more than one word should be in list foramt

0    1921
1    1960
2    1960
3    1920
4    1996
5    1966
6    1961
7    1960
8    1933
9    1950
Name: First NFL season, dtype: int64

In [13]:
##getting multiple columns

DataFrame(nfl_frame,columns = ['Team', 'First NFL season' , 'Pct.'])

                   Team  First NFL season   Pct.
0     Green Bay Packers              1921  0.572
1        Dallas Cowboys              1960  0.571
2  New England Patriots              1960  0.562
3         Chicago Bears              1920  0.560
4      Baltimore Ravens              1996  0.560
5        Miami Dolphins              1966  0.553
6     Minnesota Vikings              1961  0.544
7    Kansas City Chiefs              1960  0.541
8   Pittsburgh Steelers              1933  0.536
9   San Francisco 49ers              1950  0.532

In [14]:
DataFrame(nfl_frame,columns = ['Team', 'First NFL season' , 'Pct.','stadium'])  ##stadium column is not available but still it shows with NaN values in the table

                   Team  First NFL season   Pct.  stadium
0     Green Bay Packers              1921  0.572      NaN
1        Dallas Cowboys              1960  0.571      NaN
2  New England Patriots              1960  0.562      NaN
3         Chicago Bears              1920  0.560      NaN
4      Baltimore Ravens              1996  0.560      NaN
5        Miami Dolphins              1966  0.553      NaN
6     Minnesota Vikings              1961  0.544      NaN
7    Kansas City Chiefs              1960  0.541      NaN
8   Pittsburgh Steelers              1933  0.536      NaN
9   San Francisco 49ers              1950  0.532      NaN

In [15]:
nfl_frame

,Rank,Team,GP,Won,Lost,Tied,Pct.,First NFL season,Division
0,1,Green Bay Packers,"1,401",782,581,38,0.572,1921,NFC North
1,2,Dallas Cowboys,947,538,403,6,0.571,1960,NFC East
2,3,New England Patriots,949,529,411,9,0.562,1960,AFC East
3,4,Chicago Bears,"1,435",783,610,42,0.560,1920,NFC North
4,5,Baltimore Ravens,417,233,183,1,0.560,1996,AFC North
5,6,Miami Dolphins,865,476,385,4,0.553,1966,AFC East
6,7,Minnesota Vikings,935,503,421,11,0.544,1961,NFC North
7,8,Kansas City Chiefs,949,507,430,12,0.541,1960,AFC West
8,9,Pittsburgh Steelers,"1,237",652,563,22,0.536,1933,AFC North
9,10,San Francisco 49ers,"1,067",561,492,14,0.532,1950,NFC West

In [16]:
nfl_frame.head() ##shows first 5 rows

,Rank,Team,GP,Won,Lost,Tied,Pct.,First NFL season,Division
0,1,Green Bay Packers,"1,401",782,581,38,0.572,1921,NFC North
1,2,Dallas Cowboys,947,538,403,6,0.571,1960,NFC East
2,3,New England Patriots,949,529,411,9,0.562,1960,AFC East
3,4,Chicago Bears,"1,435",783,610,42,0.560,1920,NFC North
4,5,Baltimore Ravens,417,233,183,1,0.560,1996,AFC North

In [17]:
nfl_frame.head(3) ##shows first 3 rows

,Rank,Team,GP,Won,Lost,Tied,Pct.,First NFL season,Division
0,1,Green Bay Packers,"1,401",782,581,38,0.572,1921,NFC North
1,2,Dallas Cowboys,947,538,403,6,0.571,1960,NFC East
2,3,New England Patriots,949,529,411,9,0.562,1960,AFC East

In [18]:
nfl_frame.tail(3)  ##shows last 3 rows

,Rank,Team,GP,Won,Lost,Tied,Pct.,First NFL season,Division
7,8,Kansas City Chiefs,949,507,430,12,0.541,1960,AFC West
8,9,Pittsburgh Steelers,"1,237",652,563,22,0.536,1933,AFC North
9,10,San Francisco 49ers,"1,067",561,492,14,0.532,1950,NFC West

In [19]:
nfl_frame.tail(1)   ##shows last row

,Rank,Team,GP,Won,Lost,Tied,Pct.,First NFL season,Division
9,10,San Francisco 49ers,"1,067",561,492,14,0.532,1950,NFC West

In [20]:
nfl_frame.index[3]   ##it should show index 3 info in the output

3

In [21]:
nfl_frame

,Rank,Team,GP,Won,Lost,Tied,Pct.,First NFL season,Division
0,1,Green Bay Packers,"1,401",782,581,38,0.572,1921,NFC North
1,2,Dallas Cowboys,947,538,403,6,0.571,1960,NFC East
2,3,New England Patriots,949,529,411,9,0.562,1960,AFC East
3,4,Chicago Bears,"1,435",783,610,42,0.560,1920,NFC North
4,5,Baltimore Ravens,417,233,183,1,0.560,1996,AFC North
5,6,Miami Dolphins,865,476,385,4,0.553,1966,AFC East
6,7,Minnesota Vikings,935,503,421,11,0.544,1961,NFC North
7,8,Kansas City Chiefs,949,507,430,12,0.541,1960,AFC West
8,9,Pittsburgh Steelers,"1,237",652,563,22,0.536,1933,AFC North
9,10,San Francisco 49ers,"1,067",561,492,14,0.532,1950,NFC West

In [22]:
nfl_frame['stadium'] = "Levi's stadium"

In [23]:
nfl_frame  ## stadium values changed NaN - Levi's stadium

,Rank,Team,GP,Won,Lost,Tied,Pct.,First NFL season,Division,stadium
0,1,Green Bay Packers,"1,401",782,581,38,0.572,1921,NFC North,Levi's stadium
1,2,Dallas Cowboys,947,538,403,6,0.571,1960,NFC East,Levi's stadium
2,3,New England Patriots,949,529,411,9,0.562,1960,AFC East,Levi's stadium
3,4,Chicago Bears,"1,435",783,610,42,0.560,1920,NFC North,Levi's stadium
4,5,Baltimore Ravens,417,233,183,1,0.560,1996,AFC North,Levi's stadium
5,6,Miami Dolphins,865,476,385,4,0.553,1966,AFC East,Levi's stadium
6,7,Minnesota Vikings,935,503,421,11,0.544,1961,NFC North,Levi's stadium
7,8,Kansas City Chiefs,949,507,430,12,0.541,1960,AFC West,Levi's stadium
8,9,Pittsburgh Steelers,"1,237",652,563,22,0.536,1933,AFC North,Levi's stadium
9,10,San Francisco 49ers,"1,067",561,492,14,0.532,1950,NFC West,Levi's stadium

In [25]:
nfl_frame['stadium'] = np.arange(10) ##5 rows

In [26]:
nfl_frame

,Rank,Team,GP,Won,Lost,Tied,Pct.,First NFL season,Division,stadium
0,1,Green Bay Packers,"1,401",782,581,38,0.572,1921,NFC North,0
1,2,Dallas Cowboys,947,538,403,6,0.571,1960,NFC East,1
2,3,New England Patriots,949,529,411,9,0.562,1960,AFC East,2
3,4,Chicago Bears,"1,435",783,610,42,0.560,1920,NFC North,3
4,5,Baltimore Ravens,417,233,183,1,0.560,1996,AFC North,4
5,6,Miami Dolphins,865,476,385,4,0.553,1966,AFC East,5
6,7,Minnesota Vikings,935,503,421,11,0.544,1961,NFC North,6
7,8,Kansas City Chiefs,949,507,430,12,0.541,1960,AFC West,7
8,9,Pittsburgh Steelers,"1,237",652,563,22,0.536,1933,AFC North,8
9,10,San Francisco 49ers,"1,067",561,492,14,0.532,1950,NFC West,9

In [27]:
stadiums = Series(["Levi's stadium","AT&T"],index = [4,0])

In [28]:
stadiums ##inserting stadium values

4    Levi's stadium
0              AT&T
dtype: object

In [29]:
nfl_frame['stadium'] = stadiums

In [30]:
nfl_frame

,Rank,Team,GP,Won,Lost,Tied,Pct.,First NFL season,Division,stadium
0,1,Green Bay Packers,"1,401",782,581,38,0.572,1921,NFC North,AT&T
1,2,Dallas Cowboys,947,538,403,6,0.571,1960,NFC East,NaN
2,3,New England Patriots,949,529,411,9,0.562,1960,AFC East,NaN
3,4,Chicago Bears,"1,435",783,610,42,0.560,1920,NFC North,NaN
4,5,Baltimore Ravens,417,233,183,1,0.560,1996,AFC North,Levi's stadium
5,6,Miami Dolphins,865,476,385,4,0.553,1966,AFC East,NaN
6,7,Minnesota Vikings,935,503,421,11,0.544,1961,NFC North,NaN
7,8,Kansas City Chiefs,949,507,430,12,0.541,1960,AFC West,NaN
8,9,Pittsburgh Steelers,"1,237",652,563,22,0.536,1933,AFC North,NaN
9,10,San Francisco 49ers,"1,067",561,492,14,0.532,1950,NFC West,NaN

In [31]:
del nfl_frame['stadium']  ##stadium column is deleted

In [32]:
nfl_frame

,Rank,Team,GP,Won,Lost,Tied,Pct.,First NFL season,Division
0,1,Green Bay Packers,"1,401",782,581,38,0.572,1921,NFC North
1,2,Dallas Cowboys,947,538,403,6,0.571,1960,NFC East
2,3,New England Patriots,949,529,411,9,0.562,1960,AFC East
3,4,Chicago Bears,"1,435",783,610,42,0.560,1920,NFC North
4,5,Baltimore Ravens,417,233,183,1,0.560,1996,AFC North
5,6,Miami Dolphins,865,476,385,4,0.553,1966,AFC East
6,7,Minnesota Vikings,935,503,421,11,0.544,1961,NFC North
7,8,Kansas City Chiefs,949,507,430,12,0.541,1960,AFC West
8,9,Pittsburgh Steelers,"1,237",652,563,22,0.536,1933,AFC North
9,10,San Francisco 49ers,"1,067",561,492,14,0.532,1950,NFC West